

<div class="stores-info">
  <p style="color: green"><%= notice %></p>
  <div class="stores-title">
    <div class="stores">Lojas cadastradas!</div>
    <%= link_to "Nova Loja", new_store_path %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Usuario</th>
        <th>Status</th>
        <th>Ver loja</th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |store| %>
      <tr>      
        <td><%= store.name %></td>
        <td><%= store.user.email %>
        <td><%= store.status %>
        <td> <%= link_to "Ver Loja", store %> </td>
      </tr>
      <% end %>
    </tbody>

  </table>
</div>


<style>

  .stores-title {
    display: flex;
    align-items: center;
  }

  .stores {
    color: gray;
    font-size: 30px;
    font-weight: bold;
    margin-right: 100px;
  }

  .stores-info {
    margin: 10px;
  }

  table {
    border-collapse: collapse;
    width: 800px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    background-color: gray;
    color: white;
  }
</style>