<div class="user-info">
  <p style="color: green"><%= notice %></p>
  <div class="user-title">Usuario nยบ <%= @user.id %> </div>
  <div><span class="user-atributes">Email:</span><%= @user.email %></div>
  <div><span class="user-atributes">Role:</span><%= @user.role %></div>
  <div><span class="user-atributes">Status:</span><%= @user.status %></div>
  <% if @user.soft_delete == false %>
    <%= link_to "Editar Usuario", edit_user_path(@user) %> |
    <%= link_to "Voltar Usuarios", users_path %>  
    <%= button_to "Desativar", @user, method: :delete, class:"btn-form" %>
  <% else %>
    <%= link_to "Voltar Usuarios", users_path %>
  <% end %>

</div>

<style>

  .user-info {
    margin: 10px
  }

  .user-title {
    color: gray;
    font-size: 30px;
    font-weight: bold;
  }

  .user-atributes {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }

</style>

